CATALOG "/usr/pkg/share/sgml/docbook/2.4.1/catalog"
CATALOG "/usr/pkg/share/sgml/docbook/3.0/catalog"
CATALOG "/usr/pkg/share/sgml/docbook/3.1/catalog"
CATALOG "/usr/pkg/share/sgml/docbook/4.0/catalog"
CATALOG "/usr/pkg/share/sgml/docbook/4.1/catalog"
CATALOG "/usr/pkg/share/sgml/docbook/dsssl/modular/catalog"
CATALOG "/usr/pkg/share/sgml/iso8879/catalog"
CATALOG "/usr/pkg/share/sgml/iso12083/catalog"
CATALOG "/usr/pkg/share/sgml/jade/catalog"
CATALOG "/usr/local/share/sgml/stylesheets/sgmltools/sgmltools.cat"
CATALOG "/usr/local/share/sgml/dtd/sgmltools/catalog"

